html, body { margin: 0; padding: 0; font-family: Helvetica, sans-serif;font-size: 14px; background-color: #f1f1f1;}
body, .main-wrapper { width: 100%; padding: 0;}
nav { width: 100%; height: 58px; margin: 0 auto; background-color: #4a90e2;}
.wrapper-nav { width: 100%; max-width: 1200px; height: 58px; margin: 0 auto;}
.logo {padding: 18px 32px; font-size: 30px; color: #fff; font-weight: 600; float: left;}
.search-bar { float: left; border: none; padding: 12px 20px; box-sizing: border-box}
.search-bar form { width: 100%; height: 24px; background-color: #fff; padding: 5px; border-radius: 5px;}
input[type="text"] { border: none; margin: 3px auto; font-size:14px;}
button { float: right; margin:3px auto; border: none; background-color: transparent; font-size: 16px;}
.menu-horizontal { float: left; padding: 2px; width: 500px;}
.menu-horizontal ul { list-style: none; text-align: center; overflow: hidden; padding: 0; margin: 0; box-sizing: border-box; width: 100%;}
.menu-horizontal ul li { float: left; padding: 18px 26px;}
.menu-horizontal ul li a { text-decoration: none; color: #fff; font-size: 14px;font-weight: lighter;}
.cart { float: left; color: #fff; width: 120px; padding: 8px 10px; text-align: center; height: 40px; line-height: 40px;}
.cart i { font-size: 24px; margin: 8px auto;}
.sub-nav { width: 100%; height: 36px;background-color:#ffde02; line-height: 36px; }
.sub-nav .wrapper-nav { height: inherit;}
.wrapper-nav .btn-menu { padding: 0 20px; width: 200px; height: 36px; line-height: 1;}
.btn-menu i { font-size: 20px; margin-right: 20px;}
.btn-menu span { font-size: 18px;}
.banner { width: 100%; max-width: 1200px; display: flex; margin: 0 auto 8px auto; box-sizing: border-box;}
.box { background-color: #fff; box-sizing: border-box; margin: 2px; text-align: center; font-size: 28px;}
.left-col { flex: 1; box-sizing: border-box;}
.left-col .menu { flex: 1; height: auto; box-sizing: border-box; border: 1px solid #ccc;}
.menu ul { width: 100%; box-sizing: border-box;padding: 0; margin: 0;}
.menu ul li { list-style: none; width: 100%; height: 36px; border-bottom: 1px solid #ccc; text-align: center;}
.menu ul li:last-child {border-bottom: none;}
ul li a { text-decoration: none; font-size: 16px; color: #000; text-align: left;}
.menu li a i {float: right; margin-right: 5px; line-height: 36px;}
.left-col .delivery { flex: 1; height: 180px; box-sizing: border-box; margin-top: 4px;}
.left-col .delivery img { width: 100%; height: 100%;}
.right-col { flex: 3; box-sizing: border-box;   }
.top-banner {display: block; width: 100%; box-sizing: border-box; height: 200px; }
.left-banner, .right-banner { display: block; float: left; width: 50%; box-sizing: border-box; height: 200px; }
.container { width: inherit; margin: 2px auto 0 auto; max-width: 1200px;padding-bottom: 10px;}
.row { width: 100%; margin-top: 10px; box-sizing: border-box; height: auto; overflow: hidden; padding-bottom: 4px; border-top-left-radius: 10px;}
.title { width: inherit; padding: 10px; text-align: left; border-bottom: 1px solid #ccc;box-sizing: border-box; margin-bottom: 10px; padding-left: 0; border-top-right-radius: 10px; border-top-left-radius: 10px;}
.title span { width: 120px; background-color:#ffde02; padding: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
.content { width: 100%; margin: 0 auto; box-sizing: border-box; height: auto; overflow: hidden;}
.slide { width: 3000px; margin-left:0; }
.col-4-slide { width: 280px; height: auto; float: left; background-color: #fff;box-sizing: border-box;}
.col-4-slide:hover .box-text {margin-top: -10px; }
.col-4-slide .box-image { width: 200px; height: 200px; margin: 5px auto;}
.box-image img { width: 100%;}
.col-4-slide .box-text {padding: 5px; font-size: .6em; box-sizing: border-box;}
.box-text .title-product { margin-top:10px; margin-bottom: 5px; }
.title-product a { color: #000;}
.box-text .detail-product { width: 100px; height: 36px; margin: 10px auto; background-color: #ff1111;}
.box-text .detail-product a { line-height: 36px; color: #fff; font-size: .7em;}
.box-text .title-product a, .box-text .detail-product a { text-decoration: none;  text-align: center;}
.price-product span { color: #ff0000; font-size: 1.2em;}
.col-4 { box-sizing: border-box; height: auto; width: 24.58%; float: left;margin: 2px 4px 2px 0;}
.col-4:nth-child(2n) { margin-left: 0; margin-right: 0; }
.col-4:nth-child(2n+1) { margin-left: 4px;}
.col-4 .box-image { width: 90%; margin: 10px auto; }
.col-4 .box-text { width: 100%; padding: 10px; box-sizing: border-box; text-align: left;}
.col-4 .box-text .title-product { font-size: .65em;}
.col-4 .box-text .price-product { font-size: .6em;}
.col-4 .box-text .detail-product { float: left; text-align: center; box-sizing: border-box; width: 50%; font-size: .8em;}
.link-short { width: 100%; padding: 5px; box-sizing: border-box; display: flex; flex-direction: column; flex-flow: wrap; justify-content: space-around;} 
.link-short .title { font-size: .6em; border-bottom: none;}
.box-short { width: 33%; height: 200px; box-sizing: border-box; margin-bottom: 4px;}
.box-short .title h3 { font-size: .88em;}
.box-short .title h3 span { display: inline-block; background: #fff;}
.footer {width: 100%; box-sizing: border-box; background-color: #000; color: #fff; margin: 0 auto; text-align: center; padding: 50px; padding-bottom: 0;}
.footer .copy-right { text-align: center; color: #cecece; }